
@{
    ViewBag.Title = "ResearchField";
}
<style>
    body {
        font-family: "Microsoft JhengHei";
    }
</style>
<h5>
    本實驗室研究主題以知識管理為核心，分成管理面的知識管理研究與技術面的知識工程研究兩大主軸，
    目前的主要研究項目包括利用物聯網與大數據分析建構智慧水產養殖系統及智慧農作物監控系統、
    利用類神經網路技術與腦波訊號建構個人化資訊推薦系統、以大數據分析及文件探勘技術進行網路輿論分析、
    以大數據分析及文件探勘技術評估專利價值等。

</h5>
<br />
<h5 style="color:#4d638c">主要研究項目：</h5>
<span>
    <ul>
        <li>
            知識工程
            <ul>
                <li>智慧型推薦系統</li>
                <li>大數據分析</li>
                <li>文件探勘（專利文件、網路輿情）</li>
                <li>腦波訊號分析與應用</li>
            </ul>
        </li>
        <li>
            知識管理
            <ul>
                <li>知識生態理論與應用</li>
                <li>知識管理與績效分析</li>
                <li>組織開放式創新</li>
            </ul>
        </li>
        <li>
            電子商務
            <ul>
                <li>電子商務使用者行為分析</li>
                <li>雙向拍賣市場經營策略</li>
            </ul>
        </li>
    </ul>
</span>
